In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

## Сгенерировать данные (датасет) случайным образом:

```text
date_in     | customer_count | country_code | status
----------------------------------------------------
2024-01-01  | 901            | RU           | 1
2024-01-02  | 901            | US           | 2
2024-01-03  | 901            | KZ           | 1
2024-01-04  | 901            | IT           | 3
2024-01-05  | 901            | RU           | 1
2024-01-06  | 901            | RU           | 3
2024-01-01  | 901            | US           | 1
2024-01-02  | 1024           | US           | 2
2024-01-03  | 901            | KZ           | 1
2024-01-04  | 901            | IT           | 3
2024-01-05  | 901            | RU           | 1
2024-01-06  | 901            | RU           | 3
```

для примера будем создавать датасет для диапазона 2024-01-01-2024-02-28 x 4

In [2]:
from numpy import random

def create_dataset(number_for_date=1):
    result = []
    country_codes = ['RU', 'Ru', 'US', 'us', 'KZ' , "IT", 'it', 'CA', 'Ca']
    status = [1,2,3]
    for i in range(number_for_date):
        dates_rng = pd.date_range(start='2023-01-01', end='2024-04-05', freq='D')
        rand_customer_count = random.randint(low=0, high=1200, size=len(dates_rng))
        rand_status = [status[random.randint(low=0, high=len(status))] for i in range(len(dates_rng))]
        rand_country_code = [country_codes[random.randint(low=0, high=len(country_codes))] for i in range(len(dates_rng))]
        result.extend(zip(dates_rng, rand_customer_count, rand_country_code, rand_status))
    return result

In [7]:
dataset = create_dataset(4)
df = pd.DataFrame(data=dataset, columns=['date_in', 'customer_count', 'country_code', 'status'])
df.head(20)

      date_in  customer_count country_code  status
0  2023-01-01             569           US       1
1  2023-01-02             407           RU       2
2  2023-01-03             392           IT       3
3  2023-01-04            1148           IT       3
4  2023-01-05             140           Ru       2
5  2023-01-06             102           RU       2
6  2023-01-07             820           KZ       2
7  2023-01-08             281           CA       3
8  2023-01-09             993           Ca       2
9  2023-01-10             960           KZ       3
10 2023-01-11              66           Ca       3
11 2023-01-12            1152           Ru       2
12 2023-01-13             662           CA       1
13 2023-01-14             822           Ca       1
14 2023-01-15             493           Ca       2
15 2023-01-16             509           Ca       3
16 2023-01-17              57           us       3
17 2023-01-18            1001           it       1
18 2023-01-19             330           RU       3
19 2023-01-20             525           Ru       3

In [11]:
df.shape

(1844, 4)

In [9]:
df.to_excel('company_stats.xlsx', index=False)

In [12]:
df = pd.read_excel('company_stats.xlsx', 0, index_col='date_in')
df.shape

(1844, 3)

In [13]:
df.head(20)

            customer_count country_code  status
date_in
2023-01-01             569           US       1
2023-01-02             407           RU       2
2023-01-03             392           IT       3
2023-01-04            1148           IT       3
2023-01-05             140           Ru       2
2023-01-06             102           RU       2
2023-01-07             820           KZ       2
2023-01-08             281           CA       3
2023-01-09             993           Ca       2
2023-01-10             960           KZ       3
2023-01-11              66           Ca       3
2023-01-12            1152           Ru       2
2023-01-13             662           CA       1
2023-01-14             822           Ca       1
2023-01-15             493           Ca       2
2023-01-16             509           Ca       3
2023-01-17              57           us       3
2023-01-18            1001           it       1
2023-01-19             330           RU       3
2023-01-20             525           Ru       3

In [14]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2024-03-27', '2024-03-28', '2024-03-29', '2024-03-30',
               '2024-03-31', '2024-04-01', '2024-04-02', '2024-04-03',
               '2024-04-04', '2024-04-05'],
              dtype='datetime64[ns]', name='date_in', length=1844, freq=None)

In [15]:
df.dtypes

customer_count     int64
country_code      object
status             int64
dtype: object